					<!-- BEGIN PORTLET-->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Offers / Activity</span>
								<span class="caption-helper hide">weekly stats...</span>
							</div>
							<div class="actions">
 
                                                          <div class="btn-group">
                                                            <a class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Expand All
                                                            <i class="fa zfa-thumbs-o-up"></i>
                                                            </a>
                                                            <a class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Collapse All
                                                            <i class="fa zfa-thumbs-o-up"></i>
                                                            </a>

                                                </div>




							</div>
						</div>
						<div class="portlet-body">
						  <% current_user.adverts.order(id: :desc).each do |advert| %>
						     <div class="dd">
						       <ol class="dd-list">
                                                         <% if advert.completed == true && advert.approved == true %>
							 <li class="dd-item">
                                                           <div class="dd-handle" style="height: 40px">
							     &nbsp;&nbsp;
                                                             <% if advert.property.images_tot_available > 0 %>
                                                               <img class="user-pic" style="border-radius: 0%; height: 29px;" src="<%= "http://kasa-staging-02.s3.amazonaws.com/#{advert.property.listing_id}_#{0}.jpg" %>">
                                                             <% else %>
                                                               <img class="user-pic" style="border-radius: 0%; height: 29px;" src="<%= "http://kasa-staging-02.s3.amazonaws.com/#{"FE9E0000"}_#{0}.jpg" %>">
							      <% end %>
							      &nbsp;&nbsp;
                                                              <span href="<%= "/pages/listing_details/#{advert.property.listing_id}" %>" class="primary-link"><%= truncate(advert.property.address, length: 10) %>
                                                              </span>
							      &nbsp;&nbsp;&nbsp;&nbsp;
							      <div class="label label-sm label-danger">No offers</div>



							   </div>

                                                               

                                                              <ol class="dd-list">
                                                                <li class="dd-item" data-id="4">
                                                                   <div class="dd-handle">Item 4</div>
                                                                </li>
                                                                <li class="dd-item" data-id="5">
                                                                  <div class="dd-handle">Item 5</div>
                                                                </li>
                                                              </ol>
                                                        <% end %>
						       </ol>
						     </div>
						  <% end %>

						</div>
					</div>
					<!-- END PORTLET-->
                                                                          
