<% navigation render 'navigation/main' %>

<section class="home-intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 v-center">
        <h1>FIRE. THE. REALTOR.</h1>
        <p class="center">Buy a house on KASA and we’ll pay you.<br>Sell a house on KASA and keep the commission.<br><b>No Realtors. No Bullshit.</b></p>
        <div class="get-started-btn">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0">
              <a href="#" class="hvr-sweep-to-bottom btn-center">Buy</a>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0">
              <a href="#" class="hvr-sweep-to-bottom btn-center">Sell</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
