// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-pages .page-footer {
    background: #3b434c;
    color: #a2abb7;
}
.admin-pages .page-footer {
    font-size: 13px;
    font-weight: 300;
    padding: 17px 0;
}

.admin-pages .scroll-to-top {
    padding: 2px;
    text-align: center;
    position: fixed;
    z-index: 10001;
    bottom: 5px;
    display: none;
    right: 20px;
    color: #333;

    font-size: 14px;
    cursor: pointer;
}

.admin-pages .scroll-to-top i {
  zcolor: #f2f2f2;
  color: #eff3f8 !important;
  font-size: 32px;
  display: inline-block;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: Simple-Line-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    opacity: 0.2;
}


.admin-pages .btn {
  min-height: inherit !important;
  border: inherit !important;
  font-weght: inherit !important;
  text-transform: inherit !important;
}

.admin-pages .btn, .btn:focus, .btn:active {
  padding: 7px 14px !important;
  font-size: 14px !important;
  font-weight: normal;
  line-height: 20px;
}
