/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pb60 {
  padding-bottom: 60px;
}


nav {
  outline: 1px solid red;
}

body * {
   outline: 0px solid red;
}

.topbar {
  height: 87px;
  background-color: #FFF;
  min-width: 850px;
}

.topbar .logo {
  line-height: 84px;
  margin-left: 30px;
}

.topbar .logo img {
  width: 90px;
}

.topbar a {
  color: #363636;
}

.topbar a.register {
  zmargin-top: -15px;
  zpadding: 5px 22px;
  background-color: #154067;
  border-radius: 0px;
  color: #FFF;
  line-height: 15px;
}

.topbar .actions {
  line-height: 84px;
}

.topbar .btn {
  margin: 0px 40px 0px 0px;
}

.topbar a.btn {
  zmargin: 0px 25px;
  zpadding: 0px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 22px;
  padding-right: 22px;
}


section.login .white-block, section.signup .white-block {
  position: relative;
  padding: 40px;
  background-color: #FFF;
}

section.login .btn-alt, section.signup .btn-alt {
  border: medium none;
  font-size: 14px;
  color: #363636;
}

.homepage .login-action .btn {
  min-height: auto;
}

.navbar .login-action {
  padding: 30px 40px !important;
}

.listing-box {
  width: 730px;
}

.listing-list .listing-box {
  margin-top: 10px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 3px;
}

.listing-box * {
  white-space: nowrap !important;
}



.pagination {
  font-size: 18px;
}

.pagination a {
  background-color: #FFF;
  color: #363636;
  padding: 12px;
  margin: 0px;
  border: 0px solid silver;
  text-decoration: none;
}

.pagination em.current {
  padding: 12px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #154067;
  color: #FFF;
  text-decoration: none;
  font-style: normal;
}

.pagination a:hover {
  zpadding: 12px;
  zmargin: 2px;
  zborder: 1px solid #000099;
  font-weight: bold;
  background-color: #154067;
  color: #FFF;
  text-decoration: none;
  font-style: normal;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd;
}

.listing-box .image-box {
  max-width: 350px;
  max-height: 263px;
}

.loading-gif {
  background:url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
  background-position: 95% 50%;
}


.search-bar {
  min-width: 898px;
  
}

.more-filter.modal-filter {
  white-space: nowrap;
}

.search-bar .container {
  min-width: 940px;
}

/* section.search-bar .dropdown */
/* { */
/*   white-space: nowrap; */
/* } */

/* .browse-page .search-bar .fa-angle-down { */
/*   white-space: nowrap; */
/*   outline: 3px solid yellow; */
/* } */

.search-bar .col-xs-2:nth-child(2) .small-input img {
  margin-right: 7px;
  width: 10px;
}
.search-bar .col-xs-2:not(:first-child):not(:nth-child(2)) .small-input img {
  position: absolute;
  top: 13px;
  left: 4px;
  width: 22px;
}
.search-bar .col-xs-2:not(:first-child):not(:nth-child(2)) .small-input .dropdown-toggle {
  left: 0;
  margin-left: 40px;
}
.search-bar .col-xs-2:not(:first-child):not(:nth-child(2)) .small-input .dropdown-menu {
  margin-left: 20px;
}
.search-bar .col-xs-2:nth-last-of-type(2) .dropdown.small-input img {
  top: 10px;
}

/* .browse-page { */
/*   width: 100%; */
/*   min-width: 1122px; */
/* } */


/* .row .col-xs-8 { */
/*   min-width: 622px; */
/* } */

.mytest {
  width: 768px;
}

.browse-page .listing-box-content h5 {
  overflow: hidden;
}

.listings {
  padding: 40px 0px 0px;
}

.browse-page .no-results {
  outline: 1px solid yellow;
  padding: 20px 40px;
}




/* sharrre styles */
.sharrre .box{
  float:left;
}
.sharrre .count {
  color:#444444;
  display:block;
  font-size:17px;
  line-height:34px;
  height:34px;
  padding:4px 0;
  position:relative;
  text-align:center;
  text-decoration:none;
  width:50px;
  background-color:#eee;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px; 
}
.sharrre .share {
  color:#FFFFFF;
  display:block;
  font-size:11px;
  height:16px;
  line-height:16px;
  margin-top:3px;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:50px;
  background-color:#9CCE39;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px; 
}
.sharrre .buttons {
  display:none;
  position:absolute;
  margin-left:50px;
  z-index:10;
  background-color:#fff;
}
.sharrre .button {
  float:left;
  max-width:50px;
  margin-left:10px;
}

.browse-page .sharrre a.count {
  display: none;
}

.browse-page .sharrre a.share {
  background-color: white;
}

.browse-page .links .sharrre {
  zdisplay: inline-block;
}

.browse-page .sharrre .box {
  float: none;
}

.browse-page .links {
  margin-left: 40px;
  margin-right: 40px;
}

.browse-page .sharrre .buttons {
  margin-left: 0px;
}

.browse-page .links a {
  display: inline-block;
}

.browse-page .links a:hover {
  text-decoration: none;
}

.btn:hover, .btn:focus:hover, .btn:active:hover {
  color: inherit;
}

.red {
  color: red;
}

.browse-page .links a span.words {
  color: #154067;
}

.browse-page .links a.fav-on span.words {
  color: white;
}


.browse-page .links a i.fa-heart {
  color: white;
}

.browse-page .links a.fav-on i.fa-heart {
  color: red;
  padding-left: 15px;
}

.browse-page .links a.favorite,  .browse-page .links a.favorite:hover, .browse-page .links a.favorite:active{
  outline: 0;
  text-decoration: none;
}

section.login .white-block, section.signup .white-block {
  width: 500px;
}

.underlined {
  text-decoration: underline;
}

.gray1 {
  color: rgb(171,174,175);
}

section.login #user_email,
  section.login #user_password,
  section.login #user_password_confirmation,
  section.signup #user_email,
  section.signup #user_password,
  section.signup #user_password_confirmation {
  width: 300px;
  margin-top: 22px;
  border-radius: 0px;
  height: 43px;
  padding: 6px 19px;
  border: 1px solid #939393;
}

section.login input.submit, section.signup input.submit {
  color: #FFF;
  background-color: #154067;
  font-size: 13px;
  font-weight: 400;
  padding-left: 47px;
  padding-right: 47px;
  margin-top: 15px;
  border-radius: 0px;

}

section.login input.submit, section.signup input.submit {
  color: #FFF;
  background-color: #154067;
  font-size: 13px;
  font-weight: 400;
  padding-left: 47px;
  padding-right: 47px;
  margin-top: 15px;
  border-radius: 0px;

}

section.login .heading, section.signup .heading {
  font-size: 28px;
  font-weight: 400 !important;
  font-family: "Lato",sans-serif;
  font-size: 28px;
}

div.copyrights {
  white-space: nowrap;
}

div#error_explanation h2 {
  display: none;
}

.browse-page .left-panel {
  outline: 0px solid yellow !important;
  display: inline-block;
  width: 407px;
  vertical-align: top;
}

.browse-page .right-panel {
  outline: 0px solid blue !important;
  display: inline-block;
}

#map_canvas{
  height: 100vh;
  width: 408px;
  margin: 10px 1px;
    
}

